---
import { Image } from 'astro:assets'
const img = await Astro.glob('../assets/images/cans*.png')
---
<div class="stage">
<!-- Empty Stage -->
</div>
<div class="frame">
    <Image class='img' src={img[0].default.src} width={img[0].default.width} height={img[0].default.height} alt="" />
    <div class="copy">
        This was a unique project that focused on both the environment and conceptual artistry. Using locally sourced materials such as soil and concrete, I created sculptures that question the relationship between natural and artificial forms. These pieces were then carefully placed within the rugged terrain shaped by the forces of nature itself - in this case, the impact of heavy rainfall on the region.
    </div>
    <div class="copy">
        Joya is an ongoing exploration into the relationship between human industry and natural processes. Using discarded materials such as aluminum cans and locally sourced earth and concrete, I create intricate sculptures and installations that both celebrate and interrogate our impact on the world around us. Through my practice, I hope to inspire viewers to reflect upon their own role in shaping the environment and consider ways in which they can contribute to positive change. Come discover the beauty and complexity of Joya and join me on this journey towards sustainability and resilience.
    </div>
    <Image class='img' src={img[1].default.src} width={img[1].default.width} height={img[1].default.height} alt="" />
    <Image class='img' src={img[2].default.src} width={img[2].default.width} height={img[2].default.height} alt="" />
    <div class="copy">
        Exploring the intersection between humanity and nature through the lens of sustainability and conservation. By casting discarded beer cans in local soil mixed with concrete, I aimed to draw attention to the impact our consumer culture has on the environment. The installation itself was created in a region ravaged by severe storms and flooding, which serves as a reminder of how climate change affects us all. Through this piece, I hope to inspire conversation around these important issues.
    </div>
    <div class="copy">
        These images were feed into a neural network to create a 3D reconstruction of the installation using Neural Radiance Fields. I was then able to export it as a colored point cloud which I then modified in Houdini and constructed the model that you see on this page. It is rendered using webGL and the Threlte framework. 
    </div>
    <Image class='img' src={img[3].default.src} width={img[3].default.width} height={img[3].default.height} alt="" />
    <Image class='img' src={img[4].default.src} width={img[4].default.width} height={img[4].default.height} alt="" />
    <div class="copy">

    </div>
</div>
<style>
    .stage {
        display: block;
        height: 100vh;
        width: auto;
    }
    .frame {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        z-index: 1;
        width: 100%;
        pointer-events: none;
    }
    .img {
        justify-self: center;
        width: 100%;
        height: auto;
    }
    .copy {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1vw;
        font-weight: 600;
        pointer-events: none;
    }
</style>